@model SmartMedicineProject.ViewModels.RecrordingListViewModel;

<link rel="stylesheet" href="~/css/popUpPacientsInfo.css" />

<h1>Новые записи</h1>
<div class="nav-link text-dark">

</div>

<div class="form-inline form-group">
    <label class="control-label">Номер телефона: </label>
    <input name="_PhoneNumber" id="phonenumber" class="form-control">
    <input type="button" value="&#10006" title="Очистить" id="clearButton" />
    <input type="date" name="date" id="date" class="form-control">
    <input type="button" value="Найти" id="searchRecord" class="btn btn-default" />

</div>
<script type="text/javascript">

</script>
<thead>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("ФИО")
            </th>
            <th>
                @Html.DisplayName("Ел. Почта")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th>
                @Html.DisplayName("Номер")
            </th>
            <th>
                @Html.DisplayName("Дата Записи")
            </th>

        </tr>
    </table>
</thead>
<div id="JoinPacientsList">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#searchRecord').click(function (e) {
            var phonenumber = $('#phonenumber').val();
            var date = $('#date').val();
            phonenumber = encodeURIComponent(phonenumber);
            date = encodeURIComponent(date);                                                       
            $('#JoinPacientsList').load('@Url.Action("JoinRecordsList", "Recording")?_PhoneNumber=' + phonenumber, 'date=' + date)                                   
            });
    
        $('#clearButton').click(function (e) {
            $('#phonenumber').val(null);
        });       
    });
    function JoinPacient(Id) {
        $.ajax({           
            url: '../Recording/JoinPacient',
            data: {
                id: Id
            },            
            success: function (data) {
                alert("Пациент взят в работу!")
                document.querySelector('#searchRecord').click();
            },
            error: function (data) {                
                alert('Ошибка');
            }
        });
    }
</script>

