@model SmartMedicineProject.ViewModels.PacientsInfoViewModel;
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/popUpPacientsInfo.css"/>

<h1>Index</h1>
<div class="nav-link text-dark">

</div>
<form method="get">
    <table class="table">
        <div class="form-inline form-group">
            <label class="control-label">Номер телефона: </label>
            <input name="_PhoneNumber" class="form-control">
            <input type="date" name="date" class="form-control">
            <input type="submit" value="Найти" class="btn btn-default" />
        </div>
</form>
<div>
    <label class="control-label">Результаты поиска по: </label>
    @if (Model.RecordDate != DateTime.MinValue.ToShortDateString())

    {
        <label>Дате</label> @Html.DisplayFor(Model => Model.RecordDate);

    }
    @if (Model.PhoneNumber != null)
    {
        <label>Тел.</label> @Html.DisplayFor(Model => Model.PhoneNumber);
    }
</div>
<thead>
    <tr>
        <th>
            @Html.DisplayName("ФИО")
        </th>
        <th>
            @Html.DisplayName("Ел. Почта")
        </th>
        <th>
            @Html.DisplayName("Адрес")
        </th>
        <th>
            @Html.DisplayName("Номер")
        </th>
        <th>
            @Html.DisplayName("Дата Записи")
        </th>

    </tr>
</thead>
<tbody>
    @foreach (var item in Model.recordModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordDate)
            </td>
            <td>
                <a href="#" id="open_pop_up_info"  title="Взять в работу" onclick="GetData(@item.ID)">&#9989</a>
                <a asp-action="" title="Удалить" asp-route-id="">&#10060</a>
            </td>
        </tr>
    }
</tbody>
</table>

<div class="pop_up_info" id="pop_up_info">
    <div class="pop_up_cont_info">
        <div class="pop_up_body_info">
            <p>Информация</p>
            <form id="form_info">
                <input id="age" type="text" placeholder="Возраст" readonly required>
                <input id="dateBorn" type="text" placeholder="Дата рождения" readonly required>              
                <input id="dateBornPicker" type="date" onchange="datePicker()"/>
                <input id="status" type="text" placeholder="Статус" required>
                <textarea cols="10" id="info" type="text" placeholder="Информация" required></textarea>               
                <button type="submit">Обновить</button>
            </form>
            <div class="pop_up_error_info"><label id="errorText_info"></label></div>
            <div id="close_pop_up_info" class="pop_up_close_info">&#10006</div>
        </div>
    </div>
</div>

<script src="~/js/popUpPacientsInfo.js"></script>

