@model SmartMedicineProject.ViewModels.PacientsInfoViewModel;

<link rel="stylesheet" href="~/css/popUpPacientsInfo.css" />

<h1>Index</h1>
<div class="nav-link text-dark">

</div>

<div class="form-inline form-group">
    <label class="control-label">Номер телефона: </label>
    <input name="_PhoneNumber" id="phonenumber" class="form-control">
    <input type="button" value="&#10006" title="Очистить" id="clearButton" />
    <input type="date" name="date" id="date" class="form-control">
    <input type="button" value="Найти" id="search" class="btn btn-default" />

</div>
<script type="text/javascript">
    
</script>
<thead>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("ФИО")
            </th>
            <th>
                @Html.DisplayName("Ел. Почта")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th>
                @Html.DisplayName("Номер")
            </th>
            <th>
                @Html.DisplayName("Дата Записи")
            </th>

        </tr>
    </table>
</thead>
<div id="PacientsList">
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search').click(function (e) {
            e.preventDefault();
            var phonenumber = $('#phonenumber').val();
            var date = $('#date').val();
            phonenumber = encodeURIComponent(phonenumber);
            date = encodeURIComponent(date);
            $('#PacientsList').load('@Url.Action("PartialViewPacientList", "Recording")?_PhoneNumber=' + phonenumber, 'date=' + date)
        });

        $('#clearButton').click(function (e) {
            $('#phonenumber').val(null);
        });
    });
</script>



